.hero,.footer{
    background-color: #1f2937;
    color: #E5E7EB;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;

}

.logo{
    width:10px;
    height: 10px;
    object-fit: contain;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #E5E7EB;
}
.header-sec{
    display: flex;
    width: 100%;
    justify-content: space-between;

    
}
ul{
    display: flex;
    gap: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    padding: 30px 100px;

}
.alt-sec{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}
button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: 800;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}
.card-heading{
    font-size: 32px;
    font-weight: 800;
}
.card{
    height: 300px;
    width: 300px;
    border-radius: 8px;
}
.card-sec{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card-group{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 20px;
    border-color: #3882f6;
    margin-bottom: 100px;
}
.quote-sec{
    background-color: #E5E7EB;
    font-style: italic;
    color: #1f2937;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.author{
    align-self: flex-end;
    font-weight: 800;
}
.alert-sec{
    background-color: #3882f6;
    display: flex;
    margin: 100px;
    border-radius: 8px;
    justify-content: space-between;
    padding: 30px;
}
.alert-sec2{
    display: flex;
    flex-direction: column;
    color: white;
}
.card-div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
}